.calculator {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: 'Times New Roman', Times, serif;

}
h1 {
  margin-bottom: 10px;
}

.button {
  width: 21%;
  padding: 20px; 
  padding-top: 14px;
  padding-bottom: 14px; 
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.input {
  width: 45%;
  margin-top: 20px;
}
.result{
  color: gray;
  font-weight: 400;
}